body {
    background-color: #1d2127;
    color: rgb(110, 130, 142);
    font-family: "Overpass Mono", monospace;
    padding: 10px;
    display: block;
}
header{
    position: fixed; /* Se mantiene fijo en la pantalla */
    width: 100%;
    height: 18%;
    top: 0; /* Pegado arriba */
    left: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background-color:#1d2127 ;

}
nav{
    width: 200px; /* Ancho fijo */
    height: 50vh; /* Mitad de la altura de la pantalla */
    position: fixed; /* Se mantiene fijo en la pantalla */
    left: 0; /* Pegado al borde izquierdo */
    top: 50%; /* Lo coloca en la mitad de la pantalla */
    transform: translateY(-50%); /* Lo ajusta para que esté centrado */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 20px 20px 20px 0px;
}

main{
    margin-left: 220px; /* Evita que el contenido se solape con el nav */
    margin-top: 100px; /* Para que no se solape con el header */
    padding: 10px;
}

main section{
    min-height: 100vh; /* Cada sección ocupa como mínimo toda la altura visible */
    display: flex; /* Para centrar contenido */
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido arriba */
    align-items: flex-start; /* Centra horizontalmente */
    scroll-margin-top: 18vh; /* Ajusta el scroll para que no se esconda el título debajo del header */

}

footer{
    grid-area: footer;
}

h1 {
    color: rgb(4, 217, 181);
    font-family: "Syne Mono", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    text-align: center;

    padding-top: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    color: rgb(4, 217, 181);
    font-family: "Syne Mono", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-top: 5px;
    clear: both; /* Evita que el float afecte su posición */
}


h3 {
    color: rgb(250, 235, 215);
    font-style: oblique;
}

ul{
    padding: 0px;
    list-style: none;

}
nav ul li{
    padding: 10% 0% 16% 0%;
}

form{
    padding-top: 75px;
    max-width: 900px; /* Define un ancho máximo */
    min-width: 20px;
    width: 100%; /* Ajusta al tamaño de la pantalla */
}



a:any-link{ /* Se tiene que hacer lo mismo tres veces any-link, moz-any-link y webkit-any-lin para que sea compatible con todos los navegadores*/
    color: rgb(110, 130, 142);
    text-decoration: none;
}

a:-moz-any-link{
    color: rgb(110, 130, 142);
    text-decoration: none;
}

a:-webkit-any-link{
    color: rgb(110, 130, 142);
    text-decoration: none;
}

li:hover{
    text-decoration: underline;
}


.codigo {
    color: rgb(213, 95, 95);
    font-family: "Inspiration", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}


.hastag {
    color: rgb(143, 187, 189);
    font-style: oblique;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;

}

.hastags-container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 25px; /* Espacio entre los hashtags */
    flex-wrap: wrap; /* Permite que se acomoden en varias líneas si es necesario */
}

.itemform{
    display: grid;
    grid-template-columns: 150px 350px;
    padding: 6px;
    justify-content: center;
}

.itemform input, .itemform textarea{
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color:rgb(110, 130, 142);
    font-family: "Overpass Mono", monospace;
    grid-column: 2/3;
    justify-self: right;
}

#cita{
    text-align: center;
}



#listaRedesSociales li a {
    display: flex;
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
    padding-bottom: 20px;
}





/* CSS prima la especididad, si una regla es más especifica que otra, es la que se utiliza. Por ejemplo, 
/* definimos el estilo para h3 y para .hastag, un elemento h3 con class hastag, tendrá las propiedades de .hastag